<nav class="z-50 sticky md:py-2 top-0 w-full bg-gray-100 text-white">
  <div class="container relative  max-sm:p-0 max-sm:pr-2 mx-auto flex h-16 flex-row items-center justify-between">
    <div class="flex-[2] hidden md:block ">
      <a class="flex items-center" routerLink="">
        <img ngSrc="../../../assets/logo.png"  priority class="w-[100px]" width="337" height="100" alt="logo">

        <p className="capitalize text-primary-main font-sans font-bold whitespace-nowrap">
          ItsyBizz
        </p>
      </a>
    </div>
    <div class="flex w-[80px] md:hidden">
      <img ngSrc="../../../assets/logo.png" priority  width="337" height="200" alt="logo">
    </div>

    <div class="md:flex-[6] md:flex hidden justify-center">
      <app-searchbar />
    </div>

    <div class="flex-row flex-[2] gap-2 md:gap-4 items-center justify-end">
      <div class="flex text-black md:hidden items-center justify-end gap-2">
        <a [routerLink]="'enquiry'"
          class="gap-4 border cursor-pointer border-black p-3 rounded-lg text-gray-800 md:flex flex-col items-end justify-end whitespace-nowrap lg:font-bold text-sm lg:text-md">
          Enquiry Now
        </a>
        <!-- <ShoppingCart />
        <MobileMenu /> -->
      </div>
      <div class="flex items-center gap-4">
        <a [routerLink]="'enquiry'"
          class=" hidden gap-4 border border-black p-3 rounded-lg text-gray-800 md:flex flex-col items-end justify-end whitespace-nowrap lg:font-bold text-sm lg:text-md">
          Enquiry Now
        </a>
        <div
          class="hidden text-gray-800 md:flex flex-col items-end justify-end whitespace-nowrap lg:font-bold text-sm lg:text-md">
          <p class="whitespace-nowrap flex gap-2 items-center text-[20px]">
            <!-- <Headset class="font-bold" /> Customer Services -->
          </p>
          <a href="tel:9205404075">
            +91 9205404075,9205404076
          </a>
        </div>
      </div>

    </div>
  </div>
  <!-- {visible && (
    <Link to={"/"}>
      <div class="fixed py-2 px-3 gap-1 items-center hidden md:flex right-[16px] bottom-4 rounded-sm bg-primary-main">
        <Home style={{ fontSize: "28px", color: "white" }} />
        <p class=" text-md max-md:hidden">Back to</p>
        <MoveRight class=" relative top-[0.8px]" />
      </div>
    </Link>
  )} -->
</nav>
<a href="bg-red-500">dasda</a>