<div id="bulk-page">
    <div class="row bg-white mx-auto bulk-enquiry mar-t-10 mar-t-xs-0">
        <div class="row row-eq-height pad-lr-xs-15 bulk-enquiry-bg">
            <div class="col-md-12 center-block no-border-xs pad-b-30 mar-t-xs-20 pad-t-xs-5">
                <div>
                    <div class="rfq">
                        <div class="rfq-banner">
                            <h1 class="md:text-4xl hidden md:block  ">
                                100% Finance Available I Buy Industrial
                                Machine I Buy Packaging Machine
                            </h1>
                        </div>
                        <div class="w-fit mx-auto border rounded-xl shadow-xl bg-white mb-4  p-3 md:p-6">
                            <h2 class="my-4">
                                Fill your query requirement & our experts will get in
                                touch with you within 30 min.
                            </h2>
                         <app-enquery-form/>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="three-simple-steps rfq-inner-setion row-eq-height pad-lr-xs-15 pad-tb-80 light-blue-bg">
            <h3 class="text-center pb-4 font-semibold">How it Works</h3>
            <div class="col-sm-8">
                <div class="col-sm-4 pad-b-xs-40">
                    <img class="pad-tb-15 wp-45 center-block block"
                        src="https://cdn.moglix.com/img/others/oct_17/RFQ/place_rfq.png" alt="Place RFQ" />
                    <h4 class="pad-t-10 text-center f-size-15">1. Place RFQ.</h4>
                    <p class="text-center pad-lr-15 lh-22">
                        You can place your requests
                        <br /> manually.
                    </p>
                </div>
                <div class="col-sm-4 pad-b-xs-40">
                    <img class="pad-tb-15 wp-45 center-block block"
                        src="https://cdn.moglix.com/img/others/oct_17/RFQ/receive_quotes.png" alt="Receive Quotes" />
                    <h4 class="pad-t-10 text-center f-size-15">
                        2. Receive Quotes
                    </h4>
                    <p class="text-center pad-lr-15 lh-22">
                        Our executives will review and <br /> quote within 24 hrs.
                    </p>
                </div>
                <div class="col-sm-4">
                    <img class="pad-tb-15 wp-45 center-block block"
                        src="https://cdn.moglix.com/img/others/oct_17/RFQ/finalize.png" alt="Finalize" />
                    <h4 class="pad-t-10 text-center f-size-15">3. Finalize</h4>
                    <p class="text-center pad-lr-15 lh-22">
                        Once you like the quotes, let's <br /> finalize and deliver your
                        product.
                    </p>
                </div>
            </div>
        </div>
    </div>
</div>