<div class="container flex justify-center items-center my-20">
    <div class="flex justify-center items-center  flex-col">
      <div class="mb-3 flex items-center justify-center">
        <img src="../../../assets/err.png"  alt="errorImg" width="100" height="100" class="w-[60%]" />
      </div>
      <div class="text-center">

          <h1 class="">Oops! the page not found.</h1>
          <p class="mb-4">
            Or simply leverage the expertise of our consultation team.
          </p>
          <a routerLink="" class="border w-fit px-4 py-2 rounded-lg">
            Go Home
          </a>
      </div>
    </div>
  </div>